version1/forces_cache_ions/results_test/forces/force_results.json
version1/forces_cache_ions/ionic_forces.npy
version1/forces_cache_ions/ionic_forces_scaled.npy
version1/forces_cache_ions/ionic_forces_scaled_removeCMMotionF.npy
version2/forces_cache_ions/results_test/forces/force_results.json
version2/forces_cache_ions/ionic_forces.npy
version2/forces_cache_ions/ionic_forces_scaled.npy
version2/forces_cache_ions/ionic_forces_scaled_removeCMMotionF.npy

