forces_cache_ions/results_test/forces/force_results.json
forces_cache_ions/ionic_forces.npy
results_test/forces/force_results.json
forces_cache_ions/ionic_forces_scaled.npy
forces_cache_ions/ionic_forces_scaled_removeCMMotionF.npy
results_G2/forces/top_cosine_ionic_motion.json
results_G2/forces/force_results.json
results_G2/forces/forces_per_ion
results_test/forces/top_cosine_ionic_motion.json
results_test/forces/force_results.json
results_test/forces/forces_per_ion